.link{
    color: black;
    border-bottom: 2px solid lightgray;
}
.active-link{
    color: rgba(0, 81, 255, 0.466);
   border-bottom: 2px solid rgba(0, 81, 255, 0.466);
}
.link:hover{
   color: rgba(0, 81, 255, 0.466);
   border-bottom: 2px solid rgba(0, 81, 255, 0.466);
}